/* src/index.css */
:root {
  font-family: "Montserrat", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* VITAL: Fuerza al navegador a usar modo claro en esta web */
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: #d4d4d4; /* Fondo gris externo para contraste */
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
